body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status , #phone
{
font-size: 18px;
}
canvas {
    border:5px solid rgb(0, 0, 157) ;
    border-radius: 20px;
}

